<div class="container">

    <h1>Galería de películas</h1>

    <hr>

    <div class="row">
        {{#each movies}}

        <div class="col-md-3 movie-card mb-3">
            <figure>
                <img src="{{imageUrl}}" alt="{{title}}">
                <figcaption>{{title}}</figcaption>
            </figure>
        </div>

        {{/each}}
    </div>
</div>